body{
    background-color: #eeeeee;
    position: relative;
}
.Header{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(180deg, #434e52, #009cfd41 100%), url(../img/Perú.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
 }
 .bd-dark{
     background-color: #393e46 !important;
     position: fixed;
     z-index: 100;
     width: 100%;
 }
 .bg-dark1{
     background-color: #393e46;
     position: fixed;
     z-index: 100;
     width: 100%;
     border-bottom: 2px solid #fdbb2d;
 }
 
 @media (min-width: 768px){
     .bg-dark{
         background-color: transparent !important;
     }
 } 

 .navbar a{
     color: #fff !important;
     font-family: "Press Start 2P";
     text-align: center;
     font-size: 23px;
     padding: 4px 15px;

 }

 .navbar a:hover{
     background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
     border-radius: 5%;
 }

 .text-hero{
     height: 550px;
     color: #fff;
     font-family: "Ultra";
     padding-top: 190px;
 }

 .text-hero h3, h5{
     font-size: 70px;
     letter-spacing: .2em;
     /*font-weight: bold; */
     display: flex;
 }

 @media (max-width: 500px){
     .text-hero h3,h5{
         font-size: 47px;
     }
 }

 .text-hero a{
     font-family: "Ultra";
     color: #fff;
     font-size: 23px;
     padding: 5px 10px;
     text-decoration: none;
     border-radius: 5px;
     background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
 }

 .text-hero a:hover{
    background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
 }

 .svg{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
 }

 .perfil{
     background-color: #e8e4e1;
     padding-top: 80px;
     padding-bottom: 80px;
     text-align: center;
 }
 
 .perfil h1{
     font-family: "Ultra";
     font-size: 50px;
     padding-bottom: 13px;

 }

 .perfil p{
     font-size: 1.1em;
     font-weight: 500;
     text-align: justify;
 }

.perfil img{
    width: 450px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.galeria{
    padding-top: 80px;
    padding-bottom: 80px;
    color: #f5f5f5;
    background-color: #393e46;
}

.galeria h2{
    font-family: "Ultra";
    font-size: 50px;
    padding-bottom: 7px;
}

.galeria .col-lg-4{
    margin: 0 !important;
    padding: 3px;
    transition: 0.2s linear;
}

.galeria .col-lg-4:hover{
    transform: scale(1.05);
    transition: 0.2s linear;
    z-index: 1;
}

.galeria .row img{
    width: 100%;
    height: 250px;
}

.contacto h1{
    font-family: "Ultra";
    font-size: 50px;
    padding-bottom: 15px;
}

.contacto{
    padding-top: 80px;
    padding-bottom: 80px;
}

.contacto input{
    margin-bottom: 23px;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    border-bottom: 1px solid #313848;
    margin-right: 10px;
}

.contacto textarea{
    margin-bottom: 13px;
    border: none;
    border-bottom: 1px solid #313848;
    box-shadow: none !important;
    min-height: 150px;
    max-height: 150px;
    width: 100%;
    resize: vertical;
}

.contacto a{
    color: #fff;
    font-family: "Ultra";
    font-size: 20px;
    padding: 4px 15px;
    text-align: center;
    background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
    text-decoration: none;
}

.contacto a:hover{
    background: linear-gradient(160deg, #22c2c3 0%, #fdbb2db0 100%);
}


.foot{
    background: linear-gradient(160deg, #22c3c3f6 0%, #fdbb2df1 100%);
}

.foot h4{
    font-size: 27px;
    font-weight: 900;
    margin: 0;
    overflow: hidden;
}