body{
    background-color: #eeeeee;
    position: relative;
}
.Header{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(180deg, #434e52, #009cfd41 100%), url(../img/imagen-pag.2.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
 }
 .bd-dark{
     background-color: #393e46 !important;
     position: fixed;
     z-index: 100;
     width: 100%;
 }
 .bg-dark1{
     background-color: #393e46;
     position: fixed;
     z-index: 100;
     width: 100%;
     border-bottom: 2px solid #fdbb2d;
 }
 
 @media (min-width: 768px){
     .bg-dark{
         background-color: transparent !important;
     }
 } 

 .navbar a{
     color: #fff !important;
     font-family: "Press Start 2P";
     text-align: center;
     font-size: 23px;
     padding: 4px 15px;

 }

 .navbar a:hover{
     background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
     border-radius: 5%;
 }

 .text-hero{
     height: 550px;
     color: #fff;
     font-family: "Ultra";
     padding-top: 190px;
 }

 .text-hero h3{
     font-size: 70px;
     letter-spacing: .2em;
     /*font-weight: bold; */
     display: flex;
 }

 @media (max-width: 500px){
     .text-hero h3,h5{
         font-size: 47px;
     }
 }

 .text-hero a{
     font-family: "Ultra";
     color: #fff;
     font-size: 23px;
     padding: 5px 10px;
     text-decoration: none;
     border-radius: 5px;
     background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
 }

 .text-hero a:hover{
    background: linear-gradient(160deg, #22c2c3 0%, #fdbb2d 100%);
 }

 .svg{
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
 }


.galeria{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #e8e4e1;
}

.galeria h2{
    font-family: "Ultra";
    font-size: 50px;
    padding-bottom: 7px;
}

.galeria p{
    text-align: justify;
}


.galeria .row img{
    width: 100%;
    height: 250px;
}
